<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>冒泡排序</title>
</head>
<body>
        <input id="text" type="text" name="maopao" >
        <button onclick="maopao()">冒泡</button>
</body>
<script>
    
        function maopao() {
            let tex = document.getElementById('text').value;
            debugger
            let arr = [23,78,44,2,5,7,34,56,98,29,14];
            let newarr = 0;
            if (tex == '降') {
                for (let i = 0; i < arr.length; i++) {
                    for (let j = 0; j < arr.length; j++) {
                        if (arr[j] < arr[j+1]) {
                            newarr = arr[j];
                            arr[j] = arr[j+1]
                            arr[j+1] = newarr
                        }
                    }
                    
                }
            } else if(tex == '升') {
                for (let i = 0; i < arr.length; i++) {
                    for (let j = 0; j < arr.length; j++) {
                        if (arr[j] > arr[j+1]) {
                            newarr = arr[j];
                            arr[j] = arr[j+1]
                            arr[j+1] = newarr
                        }
                    }
                    
                }
            }
            alert(`${tex}序冒泡完事：${arr}`)
        }
    </script>
</html>